#container{
    border: solid 5px black;
    background-color: #ac95e6;
    width: 90%;
    /* border-radius: 20%; */
    margin: 0 auto; /*0 top e bottom, auto no left e right*/
    padding:20px;
}
header{
    height:100px;
    margin-bottom: 50px;
    border: 1px dashed red;

}
#produtos h2{
    width: 100%;
}

#produtos{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.produto{
    /* margin:10px 20px 20px 10px; top right bottom left */
    width: 45%;
    border: 1px dotted black;
    margin-bottom: 20px;
    
}
